[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
statsmodels = "*"
kaleido = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"